/* Table */

.table {
  border-width: 1px;
  border-color: #d9d9d9;
  border-style: solid;
}

.table-header {
	color: white;
	background-color: #343844;
}

/* AddPositionModal*/

#positionAlert {
  margin-top: 10px;
}

/* Applicant Form */

.applicantForm {
  display: flex; 
  justify-content: center;
}

.applicantForm .labels {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.applicantForm .inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.applicantForm .button {
  text-align: center;
  width: 70px;
}

.applicantForm label {
  margin: 3px;
}

.applicantForm input {
  margin: 3px;
}

/* AddPositionModal */

.addPositionForm {
	display: grid;
	grid-template-columns: 1fr 3fr;
	padding: 10px;
}

.addPositionForm .button {
	margin: 0 auto;
}

.addPositionForm input {
	width: 200px;
	margin-bottom: 5px;
}

/* PositionTable */

.radio {
  margin: 0px;
  height: 0px;
  width: 0px;
}

#radioCell {
  width: 22px;
}